{% extends "tracker/base.html" %}
{% load static %}
{% block title %}All Projects{% endblock %}

{% block content %}
<h1 class="text-center mb-4">All Projects</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Project</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Assigned Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>
                {% if project.picked_by %}
                {{ project.picked_by.username }}
                {% else %}
                Not Assigned
                {% endif %}
            </td>
            <td>{{ project.get_status_display }}</td>
            <td>{{ project.created_at|date:"M d, Y" }}</td>
            <td>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-sm btn-primary">View</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center text-danger">No projects found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}